#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
}

.stuff-container, .resource-container {
  border: 1px solid #999;
  min-width: 400px;
  min-height: 400px;
  margin: 10px;
}

.btn {
  border: 1px solid #999;
  min-width: 400px;
}

.resource-name {
  font-weight: normal;
  font-size: 2.2rem;
  margin-bottom: -0.4rem;
}

.resource-description {
  font-weight: normal;
  margin: 1rem auto 2.5rem;
}